.contacts__form-btn {
  width: 150px;
  height: 50px;
  background-image: url(../../../image/ContactFormButton.png);
}

.contacts__form-btn:hover {
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}
