.contacts__link {
  text-decoration: none;
  color: #fff;
  margin: 0 44px 0;
  font-size: 20px;
  font-weight: 800px;
  line-height: 24px;
}

.contacts__link:hover {
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}

.contacts__link:nth-child(3) {
  margin-right: 0;
}
