.img-popup {
  position: absolute;
  top: 0;
  width:calc(100% - 350px);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.img-popup_opened {
  visibility: visible;
  opacity: 1;
}

.img-popup__btn-cls {
  width: 32px;
  height: 32px;
  background-image: url(../../image/Closemenu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  padding: 0;
  transition: 0.5s;
}

.img-popup__btn-cls:hover {
  opacity: 0.6;
}

.img-popup__photo-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.img-popup__photo {
  width: 220px;
}
