.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 100px 27px;
}

.portfolio__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 963px;
  text-align: center;
  margin: 0 0 31px;
}
