.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 0 27px;
}

.portfolio__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 963px;
  text-align: center;
  margin: 0 0 31px;
}

.portfolio__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}
