.portfolio {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 0 27px;
}

.portfolio__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 963px;
  text-align: center;
  margin: 0 0 20px;
}

.portfolio__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 350px));
  column-gap: 20px;
  row-gap: 20px;
  margin: 0 20px;
}

@media screen and (max-width: 868px) {
  .portfolio__cards {
    grid-template-columns: repeat(2, minmax(250px, 350px));
  }
}

@media screen and (max-width: 584px) {
  .portfolio__cards {
    grid-template-columns: repeat(1, minmax(250px, 350px));
    row-gap: 15px;
    margin: 0 10px;
  }
}
