.promo {
  height: 100vh;
  background-image: url(../../image/DSCF5132.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
}

.promo__title {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: 55px;
  font-style: oblique;
}

.promo__about-ref {
  width: 50px;
  height: 45px;
  background-color: transparent;
  background-image: url(../../image/pngwing.com.png);
  background-size: cover;
  border: none;
  padding: 0;
  position: absolute;
  bottom: 15px;
  left: 50%;
  cursor: pointer;
  transition: all .45s ease;
}

.promo__about-ref:hover {
  opacity: .8;
  transform: scale(.75);
}

@media screen and (max-width: 607px) {
  .promo {
    background-position: 35%;
  }

  .promo__about-ref {
    left: 45%;
  }
}
