.about {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  height: 100vh;
}

.about__wrapper {
  margin: 30px 10px;
  display: grid;
  grid-template-columns: minmax(292px, 600px) 370px;
  grid-template-rows: repeat(4, min-content) 1fr;
  column-gap: 50px;
  border-radius: 10px;
}

.about__title {
  margin: 0;
  font-size: 50px;
  font-weight: 400px;
  line-height: 58px;
  padding-bottom: 18px;
  grid-area: 1 / 1 / 1 / 1;
}

.about__info {
  font-size: 17px;
  font-weight: 400px;
  line-height: 22px;
  grid-area: 2 / 1 / 2 / 2;
  margin: 0;
  text-align: justify;
}

.about__link-btn {
  width: 131px;
  height: 50px;
  background: transparent;
  padding: 13px;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all .25s;
  align-self: end;
}

.about__link {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.about__link-btn:hover {
  border: 2px solid #080E73;
  opacity: .8;
  transform: scale(.95);
}

.about__img {
  width: 370px;
  height: 427px;
  object-fit: cover;
  border-radius: 10px;
  grid-area: 1 / 2 / 4 / 2;
}

@media screen and (max-width: 896px) {
  .about__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about__info {
    font-size: 12px;
    line-height: 18px;
  }

  .about__wrapper {
    grid-template-columns: minmax(292px, 600px) 255px;
  }

  .about__img {
    width: 100%;
    height: 307px;
  }
}

@media screen and (max-width: 697px) {
  .about-me {
    padding: 0 18px 70px;
  }

  .about-me__wrapper {
    column-gap: 10px;
  }

}

@media screen and (max-width: 626px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    align-items: center;
    justify-content: center;
    column-gap: 0;
  }

  .about__img {
    grid-area: 1 / 1 / 1 / 2;
  }

  .about__title {
    font-size: 30px;
    line-height: 36px;
    padding: 40px 0 20px;
    grid-area: 2 / 1 / 3 / 2;
  }

  .about__info {
    grid-area: 4 / 1 / 5 / 2;
  }
}
