.header {
  max-width: 100%;
  height: 55px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.header_dark-theme {
  background-color: #000;
}


.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__logo {
  width: 146px;
  height: 51px;
  background-image: url(../../image/BIRYULEV.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.header__menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding-right: 20px;
}

.header__menu-link_active {
  text-decoration: underline;
}

.header__burger-btn .header__checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;
  top: 15px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.header__burger-btn .header__burger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 4;
  flex-direction: column;
  justify-content: space-between;
}

.header__burger-btn .header__burger-lines .header__burger-line {
  display: none;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}


.header__burger-btn .header__burger-lines .header__burger-line_first {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.header__burger-btn .header__burger-lines .header__burger-line_second {
  transition: transform 0.2s ease-in-out;
}

.header__burger-btn .header__burger-lines .header__burger-line_third {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.header__burger-btn input[type="checkbox"]:checked ~ .header__burger-lines .header__burger-line_first {
  transform: rotate(45deg);
}

.header__burger-btn input[type="checkbox"]:checked ~ .header__burger-lines .header__burger-line_second {
  transform: scaleY(0);
}

.header__burger-btn input[type="checkbox"]:checked ~ .header__burger-lines .header__burger-line_third {
  transform: rotate(-45deg);
}

@media screen and (max-width: 607px) {
  .header__navbar {
   display: none;
  }

  .header__burger-btn .header__checkbox {
    display: block;
  }

  .header__burger-btn .header__burger-lines {
    display: flex;
  }

  .header__burger-btn .header__burger-lines .header__burger-line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
  }
}
