.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  transition: visibility 0.3s, opacity 0.4s;
  z-index: 3;
}

.overlay_active {
  visibility: visible;
  opacity: 1;
}
